/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";

/*리셋 영역*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

a:-moz-any-link {
    text-decoration: none;
}

a:any-link {
    text-decoration: none;
}

p {
    text-align: center;
}

/*공통 영역*/

.hidden {
    position: absolute;
    left: -9999px;
}

#wrap {
    width: 100%;
    height: 100vh;
    background: url(../img/apple-1841553_1920.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*섹션*/

#sec1,
#sec2 {
    display: none;
}

main {
    max-width: 1024px;
    height: calc(100vh - 40px);
    max-height: 720px;
    font-size: 12px;
    position: relative;
}

section {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}

article {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e4f1f9;
    border: 3px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 30px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.cover {
    position: relative;
    border: none;
    background: url(../img/fountain-pen-1851096_1920.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
}

.cover > h3 {
    font: bold 3.75em/1em '나눔고딕';
    text-align: center;
    position: relative;
    top: 48%;
}

.cover > h3:nth-child(2) {
    top: 65%;
}

.body > h3 {
    position: absolute;
    font: bold 2.5em/1.4em '나눔고딕';
    left: 50%;
    top: 8%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.stress {
    font-size: 1.3em;
}

.body > p {
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font: 1.875em/1.8 '나눔고딕';
    width: 100%;
}

.next {
    -webkit-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
            transform: translateX(-110%);
}

.toc {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.toc > li {
    font: bold 1.875em/1.8 '나눔고딕';
    text-align: center;
}

.sub {}

.sub > li {}

.sub > li > a {
    display: block;
    width: 100%;
    font: normal 0.8em/1.5 '나눔고딕';
    color: #000;
    text-align: center;
}

/*pc 영역*/

@media all and (min-width: 768px) {
    #wrap {
        padding: 0;
    }

    #mobile {
        display: none;
    }

    #sec1,
    #sec2 {
        display: block;
    }

    main {
        height: 720px;
        margin: 0 auto;
        margin-top: calc((100vh - 720px)/2);
        font-size: 16px;
    }

    section {
        width: 50%;
        left: 50%;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transition: all 1.2s;
        -o-transition: all 1.2s;
        transition: all 1.2s;
        padding: 0;
    }

    #sec1 {
        z-index: 1;
    }

    article {
        border-radius: 15px 0 0 15px;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        padding: 0;
    }

    .back {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }

    .next {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }

    .front {
        border-radius: 0 15px 15px 0;
    }

    .body > h3 {
        position: absolute;
        font: bold 2.5em/1.4em '나눔고딕';
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-170%);
            -ms-transform: translate(-50%,-170%);
                transform: translate(-50%,-170%);
        width: 70%;
        text-align: center;
    }

    .body > p {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-10%);
            -ms-transform: translate(-50%,-10%);
                transform: translate(-50%,-10%);
        font: 1.875em/1.8 '나눔고딕';
        width: 80%;
    }

    .cover > h3 {
        font: bold 3.75em/1em '나눔고딕';
        text-align: center;
        position: relative;
        top: 45%;
    }

    .cover > h3:nth-child(2) {
        top: 65%;
    }

    .sub > li > a:hover {
        text-decoration: underline;
    }

}